<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/style.css}">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
		<link rel="stylesheet" th:href="@{/icons/fontawesome/css/fontawesome-all.min.css}"><!-- FontAwesome Icons -->
		<link rel="stylesheet" th:href="@{/icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css}"><!-- iconsmind.com Icons -->
		
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <title>Vivelo - Vive lo mejor, Vívelo bien! </title>
            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146860928-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146860928-2');
</script>
	</head>
	<body th:each="video , stat: ${respMesg.getVideoList()}">
		<div id="sidebar-bg">
			
      <header id="videohead-pro" class="sticky-header">
        <div id="video-logo-background"><a href="/dashboardHome"><img th:src="@{/images/logo-video-layout.png}" alt="Logo"></a></div>
			
	
			<div id="mobile-bars-icon-pro" class="noselect"><i class="fas fa-bars"></i></div>
			
			
			<div id="header-user-profile">
				<div id="header-user-profile-click" class="noselect">
					<img th:src="@{/images/user_generic_3.jpg}" alt="User">
                    <div id="header-username" th:text="${#authentication.name}"></div><i class="fas fa-angle-down"></i>
                
				</div><!-- close #header-user-profile-click -->
				<div id="header-user-profile-menu">
					<ul>
                        <li><a href="/dashboardAccount"><span class="icon-Gears"></span>Mi Cuenta</a></li>
                        <li>

                            <form id="logoutForm" method="post" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-form navbar-right">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <a href="#" onclick="document.getElementById('logoutForm').submit();"><span class="icon-Power-3"></span>Cerrar Sesión</a>
                            </form>
    
                            </li>
					</ul>
				</div><!-- close #header-user-profile-menu -->
			</div><!-- close #header-user-profile -->

			<div class="clearfix"></div>
			
			<nav id="mobile-navigation-pro">
			
				<ul id="mobile-menu-pro">
	            <li>
	              <a href="/dashboardHome">
						<span class="icon-Old-TV"></span>
	                Mi Contenido
	              </a>
	            <li>

				</ul>
				<div class="clearfix"></div>
				
				<div id="search-mobile-nav-pro">
					<input type="text" placeholder="Search for Movies or TV Series" aria-label="Search">
				</div>
				
			</nav>
			
      </header>
		
		
		
		<nav id="sidebar-nav"><!-- Add class="sticky-sidebar-js" for auto-height sidebar -->
            <ul id="vertical-sidebar-nav" class="sf-menu">
                <li class="normal-item-pro current-menu-item">
                  <a href="/dashboardHome">
                          <span class="icon-Old-TV"></span>
                    Mi Contenido
                  </a>
                </li>
                <li >
                  <a href="/dashboardLive">
                        <span class="icon-Wifi-2"></span>
                    En Vivo
                  </a>
                </li>
                <li >
                  <a href="/dashboardStore">
                        <span class="icon-Android-Store"></span>
                    Tienda
                  </a>
                </li>
              </ul>
				<div class="clearfix"></div>
		</nav>
		
		
		<div id="content-sidebar-pro" >
			
			<div id="content-sidebar-image">
                <img th:id="${video.getRefNo()}" class="preview_img" src="https://via.placeholder.com/450x620?text=Loading" alt="Loading">
			</div>
			
			<div class="content-sidebar-section">
				<h2 class="content-sidebar-sub-header" th:text=${video.getTitle()}>Title</h2>
				<!--ul class="progression-studios-slider-rating">
					<li>PG-13</li><li>HD</li>
				</ul-->
			</div><!-- close .content-sidebar-section -->
			
			<div class="content-sidebar-section">
				<!--h4 class="content-sidebar-sub-header" >Release Date</h4>
				<div class="content-sidebar-short-description" th:text=${video.getDateCreated()}>2 October, 2017 (USA)</div-->
			</div><!-- close .content-sidebar-section -->
			
			<div class="content-sidebar-section">
				<!--h4 class="content-sidebar-sub-header">Length</h4>
				<div class="content-sidebar-short-description" th:text=${video.getDuration()}>2 hr 43 min</div-->
			</div><!-- close .content-sidebar-section -->
			
			<div class="content-sidebar-section">
				<!--h4 class="content-sidebar-sub-header">Origen</h4>
				<div class="content-sidebar-short-description" th:text=${video.getVideoSource()}> Origen</div-->
			</div><!-- close .content-sidebar-section -->


		</div><!-- close #content-sidebar-pro -->
		
		
		<main id="col-main-with-sidebar">

        
				
				<!--a class="movie-detail-header-play-btn afterglow" href="#VideoLightbox-1"><i class="fas fa-play"></i></a-->
				<div id="svp_playerEc" style="width:640px;height:480px;position:relative;"></div>
	         <!--video id="VideoLightbox-1"  poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg?v1" width="960" height="540">
	             <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.mp4" type="video/mp4">
	             <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.webm" type="video/webm">
	         </video-->

		
			
			
			
			<div id="movie-detail-rating">
				<div class="dashboard-container">
					<div class="row">
						<div class="col-sm">
							<h5 th:text=${video.getTitle()}></h5>
							
							<!--div class="rating-pro">
   							  <label>
   							    <input type="radio" name="rating-pro" value="10" title="10 stars"> 10
   							  </label>
  							  <label>
  							    <input type="radio" name="rating-pro" value="9" title="9 stars"> 9
  							  </label>
  							  <label>
  							    <input type="radio" name="rating-pro" value="8" title="8 stars"> 8
  							  </label>
  							  <label>
  							    <input type="radio" name="rating-pro" value="7" title="7 stars"> 7
  							  </label>
 							  <label>
 							    <input type="radio" name="rating-pro" value="6" title="6 stars"> 6
 							  </label>
							  <label>
							    <input type="radio" name="rating-pro" value="5" title="5 stars"> 5
							  </label>
							  <label>
							    <input type="radio" name="rating-pro" value="4" title="4 stars"> 4
							  </label>
							  <label>
							    <input type="radio" name="rating-pro" value="3" title="3 stars"> 3
							  </label>
							  <label>
							    <input type="radio" name="rating-pro" value="2" title="2 stars"> 2
							  </label>
							  <label>
							    <input type="radio" name="rating-pro" value="1" title="1 star"> 1
							  </label>
							</div-->
							
						</div>
						<div class="col-sm">
							<!--h6>User Rating</h6>
					      <div
					        class="circle-rating-pro"
					        data-value="1"
					        data-animation-start-value="1"
					        data-size="40"
					        data-thickness="3"
					        data-fill="{
					          &quot;color&quot;: &quot;#42b740&quot;
					        }"
					        data-empty-fill="#def6de"
					        data-reverse="true"
					      ><span style="color:#42b740;">10</span></div-->
							<div class="clearfix"></div>
						</div>
					</div><!-- close .row -->
				</div><!-- close .dashboard-container -->
			</div><!-- close #movie-detail-rating -->
			
			<div class="dashboard-container">
				
				
				<div class="movie-details-section">
          <div><img th:src="@{/images/Logo_horizontal_1920x1080_vivelotv_circular_icon_slogan_vf.png}" width="240"></div>
          <div class="clearfix"></div>
					<p>Somos una empresa de entretenimiento Ecuatoriana, cuyo objetivo principal es brindar a sus usuarios la experiencia los eventos en vivo y contenidos audiovisuales en la comodidad de su casa a través de nuestra plataforma, con la mayor calidad disponible en audio y vídeo, sin complicados trámites, sin tiempos de espera, ni confirmaciones, solo regístrate, compra tu ticket al evento o contenido que quieres ver y disfrútalo dentro de nuestra plataforma.</p>
				</div><!-- close .movie-details-section -->

			</div><!-- close .dashboard-container -->
		</main>
		
		
		</div><!-- close #sidebar-bg-->
		
		<!-- Required Framework JavaScript -->
		<script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script><!-- jQuery -->
		<script th:src="@{/js/libs/popper.min.js}" defer></script><!-- Bootstrap Popper/Extras JS -->
		<script th:src="@{/js/libs/bootstrap.min.js}" defer></script><!-- Bootstrap Main JS -->
		<!-- All JavaScript in Footer -->
		
		<!-- Additional Plugins and JavaScript -->
		<script th:src="@{/js/navigation.js}" defer></script><!-- Header Navigation JS Plugin -->
		<script th:src="@{/js/jquery.flexslider-min.js}" defer></script><!-- FlexSlider JS Plugin -->
		<script th:src="@{/js/jquery-asRange.min.js}" defer></script><!-- Range Slider JS Plugin -->
		<script th:src="@{/js/circle-progress.min.js}" defer></script><!-- Circle Progress JS Plugin -->
		<script th:src="@{/js/afterglow.min.js}" defer></script><!-- Video Player JS Plugin -->
		<script th:src="@{/js/script.js}" defer></script><!-- Custom Document Ready JS -->
        <script th:src="@{/js/script-dashboard.js}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->

        <script language="javascript" type="text/javascript" src="//play.streamingvideoprovider.com/js/dplayer.js"></script>
        <script th:inline="javascript">
        /*<![CDATA[*/

            $(document).ready(function(){

                var clipKey = [[${clipKey}]];

                var vars = {clip_id:clipKey,transparent:"true",pause:"1",repeat:"",bg_color:"#ffffff",fs_mode:"2",no_controls:"",start_img:"0",start_volume:"100",close_button:"",brand_new_window:"1",auto_hide:"1",stretch_video:"",player_align:"NONE",offset_x:"0",offset_y:"0",player_color_ratio:0.6,skinAlpha:"50",colorBase:"#250864",colorIcon:"#ffffff",colorHighlight:"#7f54f8",direct:"false",is_responsive:"true",viewers_limit:0,cc_position:"bottom",cc_positionOffset:70,cc_multiplier:0.03,cc_textColor:"#ffffff",cc_textOutlineColor:"#ffffff",cc_bkgColor:"#000000",cc_bkgAlpha:0.1,aspect_ratio:"16:9",play_button:"1",play_button_style:"pulsing",sleek_player:"1"};
                    var svp_player = new SVPDynamicPlayer("svp_playerEc", "", "100%", "100%", {use_div:"svp_playerEc",skin:"3"}, vars);
                    svp_player.execute();

                $(".preview_img").each(function() { 

                    var id_img  = $(this).attr("id");

                    $.ajax({
                        url : 'https://www.vivelo.tv/api/streamvideoprovider/getPrimaryVideoImageBase64?videoRef=' + id_img + '&type=thumb',
                        processData : false,
                }).always(function(data){
                    $('#' + id_img).attr('src', 'data:image/jpeg;base64,' + data);

                });
            });


        });

        /*]]>*/
        </script>
        <noscript>Your browser does not support JavaScript! JavaScript is needed to display this video player!</noscript>

    </body>
</html>