<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/style.css}">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
		<link rel="stylesheet" th:href="@{icons/fontawesome/css/fontawesome-all.min.css}"><!-- FontAwesome Icons -->
		<link rel="stylesheet" th:href="@{icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css}"><!-- iconsmind.com Icons -->
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <title>Vivelo - Vive lo mejor, Vívelo bien! </title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146860928-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146860928-2');
</script>
	</head>
	<body>
		<div id="sidebar-bg">
			
      <header id="videohead-pro" class="sticky-header">
            <div id="video-logo-background"><a href="/dashboardHome"><img th:src="@{/images/logo-video-layout.png}" alt="Logo"></a></div>
			
			<div id="mobile-bars-icon-pro" class="noselect"><i class="fas fa-bars"></i></div>
			
			
			<div id="header-user-profile">
				<div id="header-user-profile-click" class="noselect">
					<img src="images/user_generic_3.jpg" alt="Suzie">
					<div id="header-username" th:text="${#authentication.name}"></div><i class="fas fa-angle-down"></i>
				</div><!-- close #header-user-profile-click -->
				<div id="header-user-profile-menu">
					<ul>
                        <li><a href="/dashboardAccount"><span class="icon-Gears"></span>Mi Cuenta</a></li>
                        <li>

                            <form id="logoutForm" method="post" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-form navbar-right">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <a href="#" onclick="document.getElementById('logoutForm').submit();"><span class="icon-Power-3"></span>Cerrar Sesión</a>
                            </form>
    
                            </li>
					</ul>
				</div><!-- close #header-user-profile-menu -->
			</div><!-- close #header-user-profile -->

			
			
			<div class="clearfix"></div>
			
		
			<nav id="mobile-navigation-pro">
			
				<ul id="mobile-menu-pro">
	            <li >
	              <a href="/dashboardHome">
						<span class="icon-Old-TV"></span>
	                Mi Contenido
	              </a>
	            </li>
	            <li >
                    <a href="/dashboardLive">
                          <span class="icon-Wifi-2"></span>
                      En Vivo
                    </a>
                  </li>
                  <li class="current-menu-item">
                    <a href="/dashboardStore">
                          <span class="icon-Android-Store"></span>
                      Tienda
                    </a>
                  </li>
				</ul>
				<div class="clearfix"></div>
				
				<div id="search-mobile-nav-pro">
					<input type="text" placeholder="Search for Movies or TV Series" aria-label="Search">
				</div>
				
			</nav>
			
      </header>
		
		
		
		<nav id="sidebar-nav"><!-- Add class="sticky-sidebar-js" for auto-height sidebar -->
            <ul id="vertical-sidebar-nav" class="sf-menu">
              <li >
                <a href="/dashboardHome">
						<span class="icon-Old-TV"></span>
                  Mi Contenido
                </a>
              </li>
              <li >
                <a href="/dashboardLive">
                      <span class="icon-Wifi-2"></span>
                  En Vivo
                </a>
              </li>
              <li class="normal-item-pro current-menu-item">
                <a href="/dashboardStore">
                      <span class="icon-Android-Store"></span>
                  Tienda
                </a>
              </li>
            </ul>
				<div class="clearfix"></div>
		</nav>
	
		<main id="col-main">
			
			<div class="dashboard-container">
				<div class="container-fluid">
					<div class="row">
					
						<div class="col-12  col-lg-3">
							<div id="account-edit-photo">
                <div><img src="https://via.placeholder.com/400x400.jpg" alt="Account Image"></div>

							</div>
						</div><!-- close .col -->
						<div class="col">
						
							<form class="account-settings-form">
						
							<h5>General Information</h5>
                <div class="clearfix"></div>
                <div><img th:src="@{/images/Logo_horizontal_1920x1080_vivelotv_circular_icon_slogan_vf.png}" ></div>
							</form>
						
						</div><!-- close .col -->
					
					</div><!-- close .row -->
				</div><!-- close .container-fluid -->
						
			</div><!-- close .dashboard-container -->
		</main>
		
		
		</div><!-- close #sidebar-bg-->
		
		<!-- Required Framework JavaScript -->
		<script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script><!-- jQuery -->
		<script th:src="@{/js/libs/popper.min.js}" defer></script><!-- Bootstrap Popper/Extras JS -->
		<script th:src="@{/js/libs/bootstrap.min.js}" defer></script><!-- Bootstrap Main JS -->
		<!-- All JavaScript in Footer -->
		
		<!-- Additional Plugins and JavaScript -->
		<script th:src="@{/js/navigation.js}" defer></script><!-- Header Navigation JS Plugin -->
		<script th:src="@{/js/jquery.flexslider-min.js}" defer></script><!-- FlexSlider JS Plugin -->
		<script th:src="@{/js/jquery-asRange.min.js}" defer></script><!-- Range Slider JS Plugin -->
		<script th:src="@{/js/circle-progress.min.js}" defer></script><!-- Circle Progress JS Plugin -->
		<script th:src="@{/js/afterglow.min.js}" defer></script><!-- Video Player JS Plugin -->
		<script th:src="@{/js/script.js}" defer></script><!-- Custom Document Ready JS -->
        <script th:src="@{/js/script-dashboard.js}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->
		
		
	</body>
</html>