<!doctype html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/style.css}">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
		<link rel="stylesheet" th:href="@{icons/fontawesome/css/fontawesome-all.min.css}"><!-- FontAwesome Icons -->
        <link rel="stylesheet" th:href="@{icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css}"><!-- iconsmind.com Icons -->
        <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
        <title>Vivelo - Vive lo mejor, Vívelo bien! </title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146860928-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146860928-2');
</script>
	</head>
	<body>
		
		<header id="masthead-pro">
			<div class="container">
				
				<h1><a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a></h1>
				
        <nav id="site-navigation-pro">
					<ul class="sf-menu">
						<li class="normal-item-pro current-menu-item">
							<a href="/">Inicio</a>
						</li>
						<li class="normal-item-pro">
							<a href="/dashboardHome">Mi Contenido</a>
							<!-- Sub-Menu Example >
							<ul class="sub-menu">
								<li class="normal-item-pro">
									<a href="#!">Sub-menu item 1</a>
								</li>
								<li class="normal-item-pro">
									<a href="#!">Sub-menu item 2</a>
								</li>
								<li class="normal-item-pro">
									<a href="#!">Sub-menu item 3</a>
								</li>
							</ul> 
							< End Sub-Menu example -->
						</li>
						<li class="normal-item-pro">
							<a href="/faqs">Contáctanos</a>
						</li>
					</ul>
				</nav>
				
        <form method="get" action="/dashboardHome" th:unless="${#authorization.expression('isAuthenticated()')}">
          <button id="login-button" class="btn btn-header-pro noselect" type="submit">Iniciar Sesión</button>
      </form>

				<div id="mobile-bars-icon-pro" class="noselect"><i class="fas fa-bars"></i></div>
				
				<div class="clearfix"></div>
			</div><!-- close .container -->
			
			
      <nav id="mobile-navigation-pro">
			
				<ul id="mobile-menu-pro">
					<li>
						<a href="/">Inicio</a>
					</li>
					<li>
						<a href="/dashboardHome">Mi Contenido</a>
						<!-- Mobile Sub-Menu Example >
						<ul>
							<li class="normal-item-pro">
								<a href="#!">Sub-menu item 1</a>
							</li>
							<li class="normal-item-pro">
								<a href="#!">Sub-menu item 2</a>
							</li>
							<li class="normal-item-pro">
								<a href="#!">Sub-menu item 3</a>
							</li>
						</ul>
						< End Mobile Sub-Menu Example -->
					</li>
					<li>
						<a href="/faqs">Contáctanos</a>
					</li>
				</ul>
				<div class="clearfix"></div>

                <form method="get" action="/dashboardHome" th:unless="${#authorization.expression('isAuthenticated()')}">
                  <button id="login-button" class="btn btn-mobile-pro btn-green-pro noselect" type="submit">Iniciar Sesión</button>
              </form>


			</nav>
		</header>
		
		<div id="page-title-pro">
			<div class="container">
				<div class="row">
					<h1>Contáctanos</h1>
					<h6>Escríbenos a <a href="mailto:ventas@vivelo.tv">ventas@vivelo.tv</a>, <a href="mailto:soporte@vivelo.tv">soporte@vivelo.tv</a>, <a href="mailto:info@vivelo.tv">info@vivelo.tv</a></h6>
				</div><!-- close .row -->
			</div><!-- close .container -->
		</div><!-- close #page-title-pro -->
		
		<div id="content-pro">
			
  	 		<div class="container">
				
				<div class="row">
					<div class="col-md">
						
						<div class="jumbotron jumbotron-fluid jumbotron-pro">
						  <div class="container">
                <img th:src="@{/images/Logo_horizontal_1920x1080_vivelotv_circular_icon_slogan_vf.png}" >
						  </div>
						</div><!-- close .jumbotron -->
						
					</div><!-- close .col-md -->
		
        </div><!-- close .row -->
        <div class="row">
					<div class="col-md">
						<p>Somos una empresa de entretenimiento Ecuatoriana, cuyo objetivo principal es brindar a sus usuarios la experiencia los eventos en vivo y contenidos audiovisuales en la comodidad de su casa a través de nuestra plataforma, con la mayor calidad disponible en audio y vídeo, sin complicados trámites, sin tiempos de espera, ni confirmaciones, solo regístrate, compra tu ticket al evento o contenido que quieres ver y disfrútalo dentro de nuestra plataforma.</p>
						<hr>
					</div><!-- close .col-md -->
			
				</div><!-- close .row -->
				
				
				<div class="clearfix"></div>
			</div><!-- close .container -->
			
			
		</div><!-- close #content-pro -->
		
		<footer id="footer-pro">
			<div class="container">
				<div class="row">
					<div class="col-md">
						<div class="copyright-text-pro">&copy; Copyright 2020 Vívelo. All Rights Reserved</div>
					</div><!-- close .col -->
					<!--div class="col-md">
						<ul class="social-icons-pro">
							<li class="facebook-color"><a href="https://facebook.com/progressionstudios" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li class="twitter-color"><a href="https://twitter.com/Progression_S" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li class="youtube-color"><a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
							<li class="vimeo-color"><a href="https://vimeo.com" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
						</ul>
					</div--><!-- close .col -->
				</div><!-- close .row -->
			</div><!-- close .container -->
		</footer>

<!-- Required Framework JavaScript -->
		<script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script><!-- jQuery -->
		<script th:src="@{/js/libs/popper.min.js}" defer></script><!-- Bootstrap Popper/Extras JS -->
		<script th:src="@{/js/libs/bootstrap.min.js}" defer></script><!-- Bootstrap Main JS -->
		<!-- All JavaScript in Footer -->
		
		<!-- Additional Plugins and JavaScript -->
		<script th:src="@{/js/navigation.js}" defer></script><!-- Header Navigation JS Plugin -->
		<script th:src="@{/js/jquery.flexslider-min.js}" defer></script><!-- FlexSlider JS Plugin -->
		<script th:src="@{/js/script.js}" defer></script><!-- Custom Document Ready JS -->


	</body>
</html>