<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/style.css}">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
		
		<link rel="stylesheet" th:href="@{icons/fontawesome/css/fontawesome-all.min.css}"><!-- FontAwesome Icons -->
		<link rel="stylesheet" th:href="@{icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css}"><!-- iconsmind.com Icons -->
		<title>Vívelo - Media Streaming App</title>
	    
	</head>
	<body>
        
		<header id="masthead-pro">
			<div class="container">
				
				<h1><a href="/index"><img th:src="@{images/logo.png}" alt="Logo"></a></h1>
				
				<nav id="site-navigation-pro">
					<ul class="sf-menu">
						<li class="normal-item-pro current-menu-item">
							<a href="/index">Inicio</a>
						</li>
						<li class="normal-item-pro">
							<a href="/dashboardHome">Mi Contenido</a>
							<!-- Sub-Menu Example >
							<ul class="sub-menu">
								<li class="normal-item-pro">
									<a href="#!">Sub-menu item 1</a>
								</li>
								<li class="normal-item-pro">
									<a href="#!">Sub-menu item 2</a>
								</li>
								<li class="normal-item-pro">
									<a href="#!">Sub-menu item 3</a>
								</li>
							</ul> 
							< End Sub-Menu example -->
						</li>
						<li class="normal-item-pro">
							<a href="/faqs">Contáctanos</a>
						</li>
					</ul>
				</nav>
				
                <!--button class="btn btn-header-pro noselect" data-toggle="modal" data-target="#LoginModal" role="button">sasa</button-->
                
                <form method="get" th:action="@{/oauth2/authorization/okta}" th:unless="${#authorization.expression('isAuthenticated()')}">
                    <button id="login-button" class="btn btn-header-pro noselect" type="submit">Iniciar Sesión</button>
                </form>

                <div id="mobile-bars-icon-pro" class="noselect"><i class="fas fa-bars"></i></div>

                <div id="header-user-profile" th:if="${#authorization.expression('isAuthenticated()')}">
                    <div id="header-user-profile-click" class="noselect">
                        <img th:src="@{/images/user_generic_3.jpg}" alt="User">

                        <div id="header-username" th:text="${#authentication.name}"></div><i class="fas fa-angle-down"></i>

                    </div><!-- close #header-user-profile-click -->

                    <div id="header-user-profile-menu">
                        <ul>
                            <li><a href="/dashboardProfile"><span class="icon-User"></span>Mi Perfil</a></li>
                            <li><a href="/dashboardFavorites"><span class="icon-Favorite-Window"></span>Favoritos</a></li>
                            <li><a href="/dashboardAccount"><span class="icon-Gears"></span>Mi Cuenta</a></li>
                            <li><a href="#!"><span class="icon-Life-Safer"></span>Ayuda/Soporte</a></li>
                            <li>

                                <form id="logoutForm" method="post" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-form navbar-right">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <a href="#" onclick="document.getElementById('logoutForm').submit();"><span class="icon-Power-3"></span>Cerrar Sesión</a>
                                </form>
        
                                </li>
                        </ul>
                    </div><!-- close #header-user-profile-menu -->
                </div><!-- close #header-user-profile -->
                
              

				<div class="clearfix"></div>
			</div><!-- close .container -->
			
			<nav id="mobile-navigation-pro">
			
				<ul id="mobile-menu-pro">
					<li>
						<a href="/index">Inicio</a>
					</li>
					<li>
						<a href="/dashboardHome">Mi Contenido</a>
						<!-- Mobile Sub-Menu Example >
						<ul>
							<li class="normal-item-pro">
								<a href="#!">Sub-menu item 1</a>
							</li>
							<li class="normal-item-pro">
								<a href="#!">Sub-menu item 2</a>
							</li>
							<li class="normal-item-pro">
								<a href="#!">Sub-menu item 3</a>
							</li>
						</ul>
						< End Mobile Sub-Menu Example -->
					</li>
					<li>
						<a href="/faqs">Contáctanos</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			
                <button class="btn btn-mobile-pro btn-green-pro noselect" data-toggle="modal" data-target="#LoginModal" role="button">Sign In</button>
                
			</nav>
		</header>
		
		
		
		
		<div class="flexslider progression-studios-slider">
	      <ul class="slides">
				<li class="progression_studios_animate_in">
					<div class="progression-studios-slider-image-background" style="background-image:url(https://via.placeholder.com/1920x693/000000);">
						<div class="progression-studios-slider-display-table">
							<div class="progression-studios-slider-vertical-align">
								
								<div class="container">
									
									<div class="progression-studios-slider-caption-width">
										<div class="progression-studios-slider-caption-align">
											<h2 style="color:#d5ddd5;">Bienvenido a Vívelo!<span style="color:#d5ddd5;"></span></h2>
											<h6 style="color:#ffffff;">Mira las mas larga colección de peliculas y series de TV, en cualquier lugar, en cualquier momento!</h6>
											<a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="#" role="button">Empieza tu prueba gratis!</a>
										</div><!-- close .progression-studios-slider-caption-align -->
									</div><!-- close .progression-studios-slider-caption-width -->
									
								</div><!-- close .container -->
								
							</div><!-- close .progression-studios-slider-vertical-align -->
						</div><!-- close .progression-studios-slider-display-table -->
						
						<div class="progression-studios-slider-mobile-background-cover"></div>
					</div><!-- close .progression-studios-slider-image-background -->
				</li>
				<li class="progression_studios_animate_left">
					<div class="progression-studios-slider-image-background" style="background-image:url(https://via.placeholder.com/1920x693/000000);">
						<div class="progression-studios-slider-display-table">
							<div class="progression-studios-slider-vertical-align">
								
								<div class="container">
									
									<div class="progression-studios-slider-caption-width">
										<div class="progression-studios-slider-caption-align">
											<h2 style="color:#d5ddd5;">Dalí acústico!</h2>
											<h6 style="color:#ffffff;">Disfruta de la sesión acústica de tus canciones favoritas de Dalí!</h6>
											<a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="#" role="button">Empieza tu prueba gratis</a>
										</div><!-- close .progression-studios-slider-caption-align -->
									</div><!-- close .progression-studios-slider-caption-width -->
									
								</div><!-- close .container -->
								
							</div><!-- close .progression-studios-slider-vertical-align -->
						</div><!-- close .progression-studios-slider-display-table -->
						
						<div class="progression-studios-slider-mobile-background-cover"></div>
					</div><!-- close .progression-studios-slider-image-background -->
				</li>
			</ul>
		</div><!-- close .progression-studios-slider - See /js/script.js file for options -->
		
		<div id="content-pro">
			
  	 		<div class="container">
				

				<div class="row">
					<div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
						<img src="images/draco_rosa_mad_love.jpg" class="img-fluid" alt="Watch in Any Devices">
					</div>
					<div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
	  					<h2 class="short-border-bottom">Míralo en cualquier dispositivo</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing nula pellentesquemagna a convallis nula facilisi. Praesent consequat eget elementumconsectetur. Nullam interdum, quam ac sagittis facilisis sapien dolor ipsum consequat ellit tristique senectus</p>
						<div style="height:15px;"></div>
						<p><a class="btn btn-green-pro" href="#" role="button">Ver mas</a></p>
					</div>
				</div><!-- close .row -->
				
				<div style="height:35px;"></div>
				
				<div class="clearfix"></div>
			</div><!-- close .container -->
			
			
			<hr>
		
		</div><!-- close #content-pro -->
		
		<footer id="footer-pro">
			<div class="container">
				<div class="row">
					<div class="col-md">
						<div class="copyright-text-pro">&copy; Copyright 2020 Vívelo. All Rights Reserved</div>
					</div><!-- close .col -->
					<div class="col-md">
						<ul class="social-icons-pro">
							<li class="facebook-color"><a href="https://facebook.com/progressionstudios" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li class="twitter-color"><a href="https://twitter.com/Progression_S" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li class="youtube-color"><a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
							<li class="vimeo-color"><a href="https://vimeo.com" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
						</ul>
					</div><!-- close .col -->
				</div><!-- close .row -->
			</div><!-- close .container -->
		</footer>
		
        <a href="#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a>
        

    			<!-- Required Framework JavaScript -->
                <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script><!-- jQuery -->
                <script th:src="@{/js/libs/popper.min.js}" defer></script><!-- Bootstrap Popper/Extras JS -->
                <script th:src="@{/js/libs/bootstrap.min.js}" defer></script><!-- Bootstrap Main JS -->
                <!-- All JavaScript in Footer -->
                
                <!-- Additional Plugins and JavaScript -->
                <script th:src="@{/js/navigation.js}" defer></script><!-- Header Navigation JS Plugin -->
                <script th:src="@{/js/jquery.flexslider-min.js}" defer></script><!-- FlexSlider JS Plugin -->
                <script th:src="@{/js/jquery-asRange.min.js}" defer></script><!-- Range Slider JS Plugin -->
                <script th:src="@{/js/circle-progress.min.js}" defer></script><!-- Circle Progress JS Plugin -->
                <script th:src="@{/js/afterglow.min.js}" defer></script><!-- Video Player JS Plugin -->
                <script th:src="@{/js/script.js}" defer></script><!-- Custom Document Ready JS -->
                <script th:src="@{/js/script-dashboard.js}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->
	</body>
</html>