<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/style.css}">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
		
		<link rel="stylesheet" th:href="@{icons/fontawesome/css/fontawesome-all.min.css}"><!-- FontAwesome Icons -->
		<link rel="stylesheet" th:href="@{icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css}"><!-- iconsmind.com Icons -->
		<title>Vívelo - Media Streaming App</title>
	    
	</head>
	<body>
        
		<header id="masthead-pro">
			<div class="container">
				
				<h1><a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a></h1>
				
				<nav id="site-navigation-pro">
					<ul class="sf-menu">
						<li class="normal-item-pro current-menu-item">
							<a href="/">Inicio</a>
						</li>
						<li class="normal-item-pro">
							<a href="/dashboardHome">Mi Contenido</a>
							<!-- Sub-Menu Example >
							<ul class="sub-menu">
								<li class="normal-item-pro">
									<a href="#!">Sub-menu item 1</a>
								</li>
								<li class="normal-item-pro">
									<a href="#!">Sub-menu item 2</a>
								</li>
								<li class="normal-item-pro">
									<a href="#!">Sub-menu item 3</a>
								</li>
							</ul> 
							< End Sub-Menu example -->
						</li>
						<li class="normal-item-pro">
							<a href="/faqs">Contáctanos</a>
						</li>
					</ul>
				</nav>
				
                <!--button class="btn btn-header-pro noselect" data-toggle="modal" data-target="#LoginModal" role="button">sasa</button-->
                
                <form method="get" th:action="@{/oauth2/authorization/okta}" th:unless="${#authorization.expression('isAuthenticated()')}">
                    <button id="login-button" class="btn btn-header-pro noselect" type="submit">Iniciar Sesión</button>
                </form>

                <div id="mobile-bars-icon-pro" class="noselect"><i class="fas fa-bars"></i></div>

                <div id="header-user-profile" th:if="${#authorization.expression('isAuthenticated()')}">
                    <div id="header-user-profile-click" class="noselect">
                        <img th:src="@{/images/user_generic_3.jpg}" alt="User">

                        <div id="header-username" th:text="${#authentication.name}"></div><i class="fas fa-angle-down"></i>

                    </div><!-- close #header-user-profile-click -->

                    <div id="header-user-profile-menu">
                        <ul>
                            <li><a href="/dashboardProfile"><span class="icon-User"></span>Mi Perfil</a></li>
                            <li><a href="/dashboardFavorites"><span class="icon-Favorite-Window"></span>Favoritos</a></li>
                            <li><a href="/dashboardAccount"><span class="icon-Gears"></span>Mi Cuenta</a></li>
                            <li><a href="#!"><span class="icon-Life-Safer"></span>Ayuda/Soporte</a></li>
                            <li>

                                <form id="logoutForm" method="post" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-form navbar-right">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <a href="#" onclick="document.getElementById('logoutForm').submit();"><span class="icon-Power-3"></span>Cerrar Sesión</a>
                                </form>
                                </li>
                        </ul>
                    </div><!-- close #header-user-profile-menu -->
                </div><!-- close #header-user-profile -->

				<div class="clearfix"></div>
			</div><!-- close .container -->

			<nav id="mobile-navigation-pro">
			
				<ul id="mobile-menu-pro">
					<li>
						<a href="/index">Inicio</a>
					</li>
					<li>
						<a href="/dashboardHome">Mi Contenido</a>
						<!-- Mobile Sub-Menu Example >
						<ul>
							<li class="normal-item-pro">
								<a href="#!">Sub-menu item 1</a>
							</li>
							<li class="normal-item-pro">
								<a href="#!">Sub-menu item 2</a>
							</li>
							<li class="normal-item-pro">
								<a href="#!">Sub-menu item 3</a>
							</li>
						</ul>
						< End Mobile Sub-Menu Example -->
					</li>
					<li>
						<a href="/faqs">Contáctanos</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			
                <button class="btn btn-mobile-pro btn-green-pro noselect" data-toggle="modal" data-target="#LoginModal" role="button">Iniciar Sesión</button>
                
			</nav>
		</header>

		<div class="flexslider progression-studios-slider">
	      <ul class="slides">
				<li class="progression_studios_animate_in">
					<div class="progression-studios-slider-image-background" th:style=" 'background-image:url(' + @{${'/images/el_cornudo.jpeg'}} + ');'">
						<div class="progression-studios-slider-display-table">
							<div class="progression-studios-slider-vertical-align">
								
								<div class="container">
									
									<div class="progression-studios-slider-caption-width">
										<div class="progression-studios-slider-caption-align">
											<h2 style="color:#d5ddd5;">El cornudo<span style="color:#d5ddd5;"></span></h2>
                      <h6 style="color:#ffffff;">Típico hombre enamorado de la mujer equivocada. Uno de aquellos hombres que no duerme preocupado por no poder entender por qué le es infiel. Por no poder encontrar las herramientas necesarias para quitarle las ganas a su pareja de serle infiel. O por no poder alcanzar la madurez de compartir su esposa, su familia, sus trajes y hasta su sueldo con un desconocido… para él.</h6>
                      <h6 style="color:#ffffff;">El pícaro Napo</h6>
                      <a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="#" role="button"><i class="fas fa-credit-card" style="font-size:medium;color:#FFFFFF"></i> Adquirir este evento</a>
										</div><!-- close .progression-studios-slider-caption-align -->
									</div><!-- close .progression-studios-slider-caption-width -->
									
								</div><!-- close .container -->
								
							</div><!-- close .progression-studios-slider-vertical-align -->
						</div><!-- close .progression-studios-slider-display-table -->
						
						<div class="progression-studios-slider-mobile-background-cover"></div>
					</div><!-- close .progression-studios-slider-image-background -->
				</li>
				<li class="progression_studios_animate_left">
					<div class="progression-studios-slider-image-background" th:style=" 'background-image:url(' + @{${'/images/soy_virgen_y_que.jpeg'}} + ');'">
						<div class="progression-studios-slider-display-table">
							<div class="progression-studios-slider-vertical-align">
								<div class="container">
									<div class="progression-studios-slider-caption-width">
										<div class="progression-studios-slider-caption-align">
											<h2 style="color:#d5ddd5;">Soy virgen!  ¿y qué?<span style="color:#d5ddd5;"></span></h2>
                      <h6 style="color:#ffffff;">Disfruta en familia de esta comedia enmarcada en el humor fino, en la sátira política y en el doble sentido.</h6>
                      <h6 style="color:#ffffff;">El pícaro Napo</h6>
											<a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="#" role="button"><i class="fas fa-credit-card" style="font-size:medium;color:#FFFFFF"></i> Adquirir este evento</a>
										</div><!-- close .progression-studios-slider-caption-align -->
									</div><!-- close .progression-studios-slider-caption-width -->

								</div><!-- close .container -->

							</div><!-- close .progression-studios-slider-vertical-align -->
						</div><!-- close .progression-studios-slider-display-table -->

						<div class="progression-studios-slider-mobile-background-cover"></div>
					</div><!-- close .progression-studios-slider-image-background -->
				</li>
			</ul>
		</div><!-- close .progression-studios-slider - See /js/script.js file for options -->
		
		<div id="content-pro">
  	 		<div class="container">

				<!--div class="row">
					<div class="col-md my-auto">
						<img src="images/draco_rosa_mad_love.jpg" class="img-fluid" alt="Watch in Any Devices">
					</div>
					<div class="col-md my-auto">
	  					<h2 class="short-border-bottom">Míralo en cualquier dispositivo</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing nula pellentesquemagna a convallis nula facilisi. Praesent consequat eget elementumconsectetur. Nullam interdum, quam ac sagittis facilisis sapien dolor ipsum consequat ellit tristique senectus</p>
						<div style="height:15px;"></div>
						<p><a class="btn btn-green-pro" href="#" role="button">Ver mas</a></p>
					</div>
				</div-->
                <div class="dashboard-container">
                    <h4 class="heading-extra-margin-bottom">Próximos eventos!</h4>
                    <div class="row" >
                      <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <img th:src="@{/images/el_masculino.jpeg}" class="img-fluid" alt="Watch in Any Devices">
                      </div>
                      <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                          <h2 class="short-border-bottom">El masculino</h2>
                        <p>"El Masculino" es un pastuso con muchos atributos. Digno representante del género de los machos, de los varones, de los verracos. Un masculino de rasgos varoniles muy marcados, que cumple su rol con valentía, pero que repudia todo tipo de violencia. Un masculino que no se dejó contaminar por la presión social para procrear seres rencorosos, que no es hostil, que es amble y seductor -cabe recalcar- dentro y fuera de casa. Un masculino que practica normas de convivencia, respeta a las damas -cabe recalcar- propias y… si es ajena mucho más. Para este masculino no existe el machismo. Ama a todas, sin condicionamiento de raza, credo, ni posición social o económica. Respeta las creencias políticas -cabe recalcar- siempre y cuando compartan las coimas. Es parte de una sociedad emprendedora y pujante, pero despacito.</p>
                        <div style="height:15px;"></div>
                        <p><a class="btn btn-green-pro" href="#" role="button"><i class="fas fa-credit-card" style="font-size:medium;color:#FFFFFF"></i> Adquirir este evento</a></p>
                      </div>
                    </div><!-- close .row -->

                    <div style="height:35px;"></div>

                
				<div class="row">
					<div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
	  					<h2 class="short-border-bottom">Ni loca ni pendeja</h2>
						<p> Una mujer valiente que arriesga todo en el amor, en la lucha por sobrevivir...así sea trabajando en una línea caliente. Una mujer que no tiene miedo a maridos jóvenes y peor viejos, aunque le crean loca, pero nunca pendeja.</p>
						<div style="height:15px;"></div>
						<p><a class="btn btn-green-pro" href="#" role="button"><i class="fas fa-credit-card" style="font-size:medium;color:#FFFFFF"></i> Adquirir este evento</a></p>
					</div>
					<div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
						<img th:src="@{/images/ni_loca_ni_pendeja.jpeg}" class="img-fluid" alt="Ni loca ni pendeja">
					</div>
				</div><!-- close .row -->

                    <!--div class="row" >
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3" th:each="i: ${#numbers.sequence(0, 7)}">
                            <div class="item-listing-container-skrn">
                                <a href="/dashboardMovieProfile"><img src="https://via.placeholder.com/1280x720/000000" alt="Listing"></a>
                                <div class="item-listing-text-skrn">
                                    <div class="item-listing-text-skrn-vertical-align"><h6><a href="/dashboardMovieProfile"></a></h6>
                                    <h5>Evento en vivo</h5>
                                    <ul class="progression-studios-slider-rating">
                                        <li>PG</li>
                                    </ul>
                                    <ul id="sidebar-reviews-pro">
                                        <li><i class="fa fa-spinner" ></i><span> 1hr 35min</span> </li>
                                        <li><i class="fas fa-calendar-alt"></i><span> Jun 14, 2020</span> </li>
                                        <li><i class="fas fa-clock"></i><span> 17:00</span> </li>
                                        <li><i class="fas fa-dollar-sign"></i><span>1 USD</span> </li>
                                    </ul>
                                    <p><a class="btn btn-green-pro" href="#" role="button"><i class="fas fa-credit-card" style="font-size:medium;color:#FFFFFF"></i> Comprar</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> close .row -->

                    <ul class="page-numbers">
                        <li><a class="previous page-numbers" href="#!"><i class="fas fa-chevron-left"></i></a></li>
                        <li><span class="page-numbers current">1</span></li>
                        <li><a class="next page-numbers" href="#!"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>

                </div><!-- close .dashboard-container -->
			</div><!-- close .container -->
		</div><!-- close #content-pro -->

		<footer id="footer-pro">
			<div class="container">
				<div class="row">
					<div class="col-md">
						<div class="copyright-text-pro">&copy; Copyright 2020 Vívelo. All Rights Reserved</div>
					</div><!-- close .col -->
					<!--div class="col-md">
						<ul class="social-icons-pro">
							<li class="facebook-color"><a href="https://facebook.com/progressionstudios" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li class="twitter-color"><a href="https://twitter.com/Progression_S" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li class="youtube-color"><a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
							<li class="vimeo-color"><a href="https://vimeo.com" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
						</ul>
					</div--><!-- close .col -->
				</div><!-- close .row -->
			</div><!-- close .container -->
		</footer>
		
        <a href="#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a>
        

    			<!-- Required Framework JavaScript -->
                <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script><!-- jQuery -->
                <script th:src="@{/js/libs/popper.min.js}" defer></script><!-- Bootstrap Popper/Extras JS -->
                <script th:src="@{/js/libs/bootstrap.min.js}" defer></script><!-- Bootstrap Main JS -->
                <!-- All JavaScript in Footer -->
                
                <!-- Additional Plugins and JavaScript -->
                <script th:src="@{/js/navigation.js}" defer></script><!-- Header Navigation JS Plugin -->
                <script th:src="@{/js/jquery.flexslider-min.js}" defer></script><!-- FlexSlider JS Plugin -->
                <script th:src="@{/js/jquery-asRange.min.js}" defer></script><!-- Range Slider JS Plugin -->
                <script th:src="@{/js/circle-progress.min.js}" defer></script><!-- Circle Progress JS Plugin -->
                <script th:src="@{/js/afterglow.min.js}" defer></script><!-- Video Player JS Plugin -->
                <script th:src="@{/js/script.js}" defer></script><!-- Custom Document Ready JS -->
                <script th:src="@{/js/script-dashboard.js}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->
	</body>
</html>