<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css" >
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
	
	<link rel="stylesheet" href="icons/fontawesome/css/fontawesome-all.min.css"><!-- FontAwesome Icons -->
	<link rel="stylesheet" href="icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css"><!-- iconsmind.com Icons -->
	
	<title>SKRN - Media Streaming App</title>
	
		<!-- Required Framework JavaScript -->
		<script src="js/libs/jquery-3.3.1.min.js"></script><!-- jQuery -->
		<script src="js/libs/popper.min.js" defer></script><!-- Bootstrap Popper/Extras JS -->
		<script src="js/libs/bootstrap.min.js" defer></script><!-- Bootstrap Main JS -->
		<!-- All JavaScript in Footer -->
		
		<!-- Additional Plugins and JavaScript -->
		<script src="js/navigation.js" defer></script><!-- Header Navigation JS Plugin -->
		<script src="js/jquery.flexslider-min.js" defer></script><!-- FlexSlider JS Plugin -->		
		<script src="js/script.js" defer></script><!-- Custom Document Ready JS -->
	
	<script type="text/javascript">
	    $(window).on('load',function(){
	    	$('#LoginModal').modal('show');
	        
	    });
	</script>

</head>

<body>



<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
			 <button type="button" class="close float-close-pro" data-dismiss="modal" aria-label="Close">
			           <span aria-hidden="true">&times;</span>
			</button>
		  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
		    <div class="modal-content">
				 <div class="modal-header-pro">
					 <h2>Welcome Back</h2>
					 <h6>Sign in to your account to continue using SKRN</h6>
				 </div>
				 <div class="modal-body-pro social-login-modal-body-pro">
			 
					 <div class="registration-social-login-container">
						 <form>
							 <div class="form-group">
								 <input type="text" class="form-control" id="username" placeholder="Username">
							 </div>
							 <div class="form-group">
								 <input type="password" class="form-control" id="password" placeholder="Password">
							 </div>
							 <div class="form-group">
								 <button type="button" class="btn btn-green-pro btn-display-block">Sign In</button>
							 </div>
							 <div class="container-fluid">
								 <div class="row no-gutters">
							 		<div class="col checkbox-remember-pro"><input type="checkbox" id="checkbox-remember"><label for="checkbox-remember" class="col-form-label">Remember me</label></div>
									<div class="col forgot-your-password"><a href="#!">Forgot your password?</a></div>
								</div>
							</div><!-- close .container-fluid -->
				
						 </form>
			 
						 <div class="registration-social-login-or">or</div>
				 
					 </div><!-- close .registration-social-login-container -->
			 
					 <div class="registration-social-login-options">
					 	<h6>Sign in with your social account</h6>
						<div class="social-icon-login twitter-color"><i class="fab fa-twitter"></i> Twitter</div>
						<div class="list-group" th:each="url : ${urls}">
							
							<div th:switch="${url.key}">
																
								<a style="display:block" th:href="${url.value}">
									<div th:case="Google" class="social-icon-login google-color"><i class="fab fa-google-plus-g"></i> Google</div>
									<div th:case="Facebook" class="social-icon-login facebook-color"><i class="fab fa-facebook-f"></i> Facebook</div>
								</a>
							</div>
						</div>
					 </div><!-- close .registration-social-login-options -->
			 
					 <div class="clearfix"></div>

 		      </div><!-- close .modal-body -->
		
			 <a class="not-a-member-pro" href="signup-step2.html">Not a member? <span>Join Today!</span></a>
		    </div><!-- close .modal-content -->
		  </div><!-- close .modal-dialog -->
		</div><!-- close .modal -->
		
		
		
</body>
</html>